[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"fastapi[standard]" = "*"
openai = "*"
python-dotenv = "*"

[dev-packages]
coverage = "*"
pre-commit = "*"
pytest = "*"

[requires]
python_version = "3.12"
